.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.bg-light1{
    background: linear-gradient(-135deg, #3895d3, #04832a);
}

.login{
    align-items: center;
    text-decoration-color: #04832a;
}

.register{
    margin-left: 590px;
    
}

.registers{
    margin-left: 190px;
}
